.login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 100 auto;
    flex: 1;
    margin: 10% 20%;
}

@media screen and (max-width:920px){
    .login{
        flex-direction: column;
    }
}


